.todo {
    list-style: none;
    padding: 0.5rem 1rem 0.5rem 1rem;
    margin: 24px;
    border-radius: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.todo > p {
    flex: 1 0;
}